# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson
'atom-text-editor:not([mini])':
  'ctrl-e': 'unset!'
  'ctrl-e ctrl-e': 'emmet:expand-abbreviation'
  'ctrl-{': 'emmet:balance-outward'
  'ctrl-}': 'emmet:balance-inward'
  'ctrl-e ctrl-right': 'emmet:next-edit-point'
  'ctrl-e ctrl-left': 'emmet:prev-edit-point'
  'ctrl-e delete': 'emmet:remove-tag'
  'ctrl-e insert': 'emmet:split-join-tag'  # e.g. <input /> to <input></input>. USE WITH CAUTION
  'ctrl-e ctrl-=': 'emmet:evaluate-math-expression'
  'ctrl->': 'emmet:select-next-item'
  'ctrl-<': 'emmet:select-prev-item'
  'ctrl-e ctrl-u': 'emmet:update-image-size'  # trial: update height and width of img
  'ctrl-e ctrl-w': 'emmet:wrap-with-abbreviation'  # wrap closest element in new tag
  'ctrl-e ctrl-r': 'emmet:update-tag'  # change selected tag
  'ctrl-cmd-up': 'emmet:increment-number-by-1'
  'ctrl-cmd-down': 'emmet:decrement-number-by-1'
'atom-text-editor':
  'ctrl-m': 'bracket-matcher:go-to-matching-bracket'
  'ctrl-alt-.': 'bracket-matcher:close-tag'
  'ctrl-alt-cmd-e': 'epoch-converter:date-string-replace'
  'ctrl-alt-cmd-u': 'epoch-converter:UTC-replace'
  'ctrl-alt-cmd-i': 'epoch-converter:ISO-replace'
  'ctrl-shift-:': 'emmet:remove-tag'
  'ctrl-shift-j': 'emmet:matching-pair'
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-alt-cmd-d': 'docblock-python:generate_docblock'
  'ctrl-f2': 'unset!'
  'ctrl-alt-cmd-r': 'window:reload'
'atom-text-editor.vim-mode-plus.visual-mode.blockwise':
  'G': 'DONT_MOVE_TO_LAST_LINE'
