<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Switcheroo.Properties.Settings>
            <setting name="Ctrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Alt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AltTabHook" serializeAs="String">
                <value>False</value>
            </setting>
        </Switcheroo.Properties.Settings>
    </userSettings>
</configuration>
